* {
	margin:0;
	padding:0;
}
body {
	background:url('/assets/img/squares03.png') repeat;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', "cursive";
}
h2 {
	color:#007361;
}
h3 {
	color:#008b66;
}
a:link, a:visited {
	color:#008b66;
}
.ui.table td {
	padding:0.7em;
}
.poke-head {
	display: inline-block;
}
.poked {
	font-weight:bold;
}
#container {
	width:80%;
	margin:40px auto;
	padding:20px 30px 50px;
	background-color:white;
	border:5px solid #d1d1d1;
	border-radius:10px;
}
#register {
	width:450px;
}
#login {
	width:450px;
}
#poke-top{
	margin-bottom:20px;
}
#poke-top-left{
	width:50%;
}
#poke-top-right{
	text-align:right;
	width:49%;
}
#poke-top-right p{
	font-size:12px;
}
#poked-history {
	padding:30px 15px;
}